body {
    font-family: 'open sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;   
}

nav {
    width: 100%;
    margin-bottom: 50px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

#nav-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#nav-heading, #nav-link-container {
    margin: 0;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

#nav-link-container {
    flex-flow: column;
}

.nav-link-text {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.question-answer-panel {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.question-excerpt {
    border: 1px solid blue;
    margin: 0;
    width: 49%;
    height: 275px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.question-number, .question, .answers {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.question-number {
    border: 1px solid red;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.question {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.answer {
    height: fit-content;
}