.question-excerpt {
    border: 1px solid blue;
}

body {
    font-family: 'open sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;   
}

nav {
    border: 1px solid red;
    width: 100%;
    margin-bottom: 50px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

#nav-section {
    border: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}