body {
    font-family: 'open sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

/*Homepage*/

/* #home-container, #home-welcome, #home-instructions {} */

#home-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;    
}

#home-welcome, #home-instructions, ul {
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

ul {
    width: 70%;
}

.list-items {
    font-variant: small-caps;
    font-weight: 500;
    margin-bottom: 15px;
    width: 80%;
}

/*Navigation Bar CSS*/

nav {
    border-bottom: 4px solid black;
    width: 100%;
    margin-bottom: 0px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.nav-heading, .nav-link-text {
    margin: 0;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.nav-heading {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Quiz One Questions and Answers CSS*/

.question-answer-panel {
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.question-excerpt {
    border-bottom: 2px solid black;
    width: 100%;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.question-number, .question, .answers-div {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.question-number {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.question {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin-bottom: 15px;
}

.answers-div {
    height:fit-content;
}

.answers {
    margin: 0;
}

.question-link {
    margin-top: 10px;
    text-decoration: underline;
    color: blue;
}

/*Quiz One CSS*/

.quiz-container, .sub-container-one, .sub-container-two, .sub-container-three,
.sub-container-four, .wrong-answers-container, .ternary-container {
    margin: 0;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.quiz-container, .ternary-container {
    width: 100%;
}

.ternary-container {
    margin-bottom: 20px;
    align-items: flex-start;
}

.sub-container-one {
    margin-bottom: 25px;
}

.sub-container-two {
    flex-flow: row;
}

.sub-container-four {
    margin-top: 25px;
}

.selected-question, label, .answer-selector {
    font-weight: bold;
}

.selected-question {
    text-decoration: underline;
}

.pass-requirement {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.question-selector, .answer-selector, .submit-answer {
    border: 2px solid black;
}

.sub-container-three {
    border-bottom: 4px double black;
    margin-top: 30px;
}

.results-header, .answer-count, .result-statement {
    margin: 0;
    margin-bottom: 10px;
}

.results-header {
    margin-top: 10px;
}

/* Question & Answer display*/

.right {
    color: green;
}

.wrong {
    color: red;
}

.display-right-answer, .display-wrong-answer {
    margin-bottom: 10px;
    font-weight: bold;
}

.quiz-answers-display {
    margin: 0;
    font-weight: lighter;
}

.sub-container-four {
    align-items: flex-start;
}

.wrong-answers-container {
    width: 100%;
    margin-bottom: 10px;
}

.ternary-container {
    border-bottom: 4px double black;
}




/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    border: 2px solid black;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a{
    color: white;
    background-color: #04AA6D;
    padding-left: 30px;
    padding-top: 2px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #0e23df;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #0e23df;}

  .inputs {
      margin: 0;
  }

  .nav-link-text {
    border-bottom: 1px solid white;
    height: 25px;
    /*text-decoration: none;*/
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}

.instructions-one, .instructions-two, .instructions-three {
    margin: 0;
    font-size: 14px;
    color: #04AA6D;
    font-weight: bold;
}